
set bell-style                          none
set bind-tty-special-chars              on
set blink-matching-paren                off
set colored-completion-prefix           on
set colored-stats                       on
set comment-begin                       #
set completion-display-width            -1
set completion-ignore-case              on
set completion-map-case                 off
set completion-prefix-display-length    1
set completion-query-items              200
set convert-meta                        on
set disable-completion                  off
set echo-control-characters             on
set editing-mode                        emacs
set emacs-mode-string                   @
set enable-bracketed-paste              off
set enable-keypad                       off
set enable-meta-key                     on
set expand-tilde                        off
set history-preserve-point              on
set history-size                        -1
set horizontal-scroll-mode              off
set input-meta                          on
set isearch-terminators                 "\e\C-j"
set keymap                              emacs
set keyseq-timeout                      500
set mark-directories                    on
set mark-modified-lines                 off
set mark-symlinked-directories          on
set match-hidden-files                  off
set menu-complete-display-prefix        on
set output-meta                         on
set page-completions                    on
set print-completions-horizontally      off
set revert-all-at-newline               on
set show-all-if-ambiguous               on
set show-all-if-unmodified              off
set show-mode-in-prompt                 off
set skip-completed-text                 on
set vi-cmd-mode-string                  (cmd)
set vi-ins-mode-string                  (ins)
set visible-stats                       on

"\C-]":     "\e0\e."                    # M-0M-.
"\e[1;5D":  backward-word               # C-leftArrow
"\e[1;5C":  forward-word                # C-rightArrow
"\C-p":     history-substring-search-backward
"\e[A":     history-substring-search-backward     # upArrow
"\C-n":     history-substring-search-forward
"\e[B":     history-substring-search-forward      # downArrow
"\M-p":     history-search-backward
"\M-n":     history-search-forward
"\C-x\C-k": kill-region
TAB:        menu-complete
"\C-TAB":   menu-complete-backward
"\e[Z":     menu-complete-backward      # S-TAB
"\C-x\C-h": shell-backward-kill-word
"\C-x\C-b": shell-backward-word
"\C-x\C-f": shell-forward-word
"\C-x\C-d": shell-kill-word
"\C-w":     unix-filename-rubout
"\C-/":     undo
"\C-]":     character-search

